<hr>
<div style="display:flex; align-items:center;">
    <div>
        &copy; <a href="https://miketannenbaum.com">MikeTannenbaum.com</a> | <a href="/privacy">Privacy</a> | <a href="A-starting-point-for-thinking">About this space</a> | <a href="/changelog">What's new</a> | <a href="/subscribe">Subscribe</a>
    </div>
    <div style="justify-content: flex-end; margin-left: auto">
      ☕&nbsp;&nbsp;<a href="https://www.buymeacoffee.com/miketannenbaum" target="_blank" >Buy me a coffee</a>

    </div>

<!--&copy; <a href="https://miketannenbaum.com">MikeTannenbaum.com</a> | <a href="A-starting-point-for-thinking">About this space</a> | <a href="/changelog">See what's new</a> | <a href="/subscribe">Subscribe for updates</a>-->
